body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-image: url(./assets/outter_board_background.png);
}

#game-board {
    background-image: url(./assets/inner_board_background.png);
    background-size: contain;
    height: 100vmin;
    width: 100vmin;
    display: grid;
    grid-template-rows: repeat(21, 1fr);
    grid-template-columns: repeat(21, 1fr);
}

.food {
    width: 100%;
}

.snake {
    width: 100%;
}

#score-board {
    position: relative;
    margin-left: 10vmin;
    margin-bottom: 80vmin;
    text-align: center;
    background-color: #694E73;
    border-radius: 50%;
    padding: inherit;
    width: 5rem;
    height: 5rem;
}

p {
    font-size: 1.5rem;
    color: #f5f5f5;
}

dialog {
    background-color: #694E73;
    border-radius: 0.9rem;
    border: none;
    padding: 2rem;
}

button {
    background-color: #f5f5f5;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #694E73;
    border-radius: 0.6rem;
    float: right;
    margin-left: 1rem;
}

button:focus {
    outline: none;
}

#confirm:hover {
    color: whitesmoke;
    background-color: #6AB155;
}

#cancel:hover {
    color: whitesmoke;
    background-color: #FF4D4D;
}