body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #a0a0f7;
}

#game-board {
    background-color: whitesmoke;
    height: 90vmin;
    width: 90vmin;
    display: grid;
    grid-template-rows: repeat(21, 1fr);
    grid-template-columns: repeat(21, 1fr);
}

.snake {
    background-color: rgb(145, 204, 131);
    border: 0.25vmin solid whitesmoke;
}

.food {
    background-color: rgb(156, 55, 55);
    border: 0.25vmin solid whitesmoke;
}